# don't put these files onto GIT must be backed up and updated separately
# A * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!*.py
!*.conf
!*.jpg
!*.png
!*.dash
!*.js
!*.json
!images/
!custom_components/
!custom_components/gtfs/
!custom_components/huesensor/
!appdaemon/
!appdaemon/dashboards/
!appdaemon/apps/
!appdaemon/apps/kevo/
!appdaemon/apps/modes/
!appdaemon/apps/notifiers/
!appdaemon/apps/pykevoplus/
!appdaemon/apps/travel/
!packages/
!packages/batteries/
!packages/bed_warming/
!packages/bus_times/
!packages/bus_travel/
!packages/calendars/
!packages/car_times/
!packages/climate/
!packages/cooking/
!packages/date_time/
!packages/devices/
!packages/doors/
!packages/fans/
!packages/garage_door/
!packages/google_assitant/
!packages/gps/
!packages/house_mode/
!packages/hue_remotes/
!packages/ifttt/
!packages/lights/
!packages/mode_actions/
!packages/motion/
!packages/notifiers/
!packages/pi_hole/
!packages/presence/
!packages/printer/
!packages/remote_control/
!packages/smoke_detectors/
!packages/switches/
!packages/system_monitor/
!packages/travel_control/
!packages/weather/
!www/
!www/icons/
!www/icons/dark_sky/
!www/pics/
!www/plugins/
!www/plugins/waze-card/
!node-red/
!esphome/
!esphome/.esphome

# Ignore folders.
.storage
.cloud
.google.token
.uuid
__pycache__/
bs4/

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
appdaemon.yaml
known_devices.yaml
secrets.py

#apps.yaml

# just not important
[Hh]ello.* 

# ensure pictures of people are ignored
Megan.jpg
Simon.jpg
Staci.jpg
Delia.jpg